@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
 font-family: 'Roboto';
 padding: 0;
 box-sizing: 0;    

}

.container{
    display: flex;
    flex-direction: column;
    height: 100%;
    

}
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.icons{
    margin-right: 25px;
    cursor: pointer;
}

.contentsHeader{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7B68EE;

    

}
.menu{
    display: none;
    background: none;
    border: none;
    padding: 10px;
    
    
}
.links{
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    color: #7B68EE;
    font-family: 'Roboto';
    font-weight: bold;

    
}
.links:hover{
    border-bottom: solid #7B68EE 1px;
    color: #7B68EE;
    transition: 0.5s;
}

.contents{
    display: flex;
    width: 100%;
    background-image:url('../img/jojo.png');
    background-repeat:no-repeat;
    background-position: left;
    background-size: contain;
    margin-top: 2.5rem ;
    align-items: center;
    justify-content: center;
    

    
    
}
.me{
    height: 42%;
    width: 20%;
    border-radius: 20px;
    margin: 10px;
    
    
}
.text{
    width: 40%;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: #7B68EE;


    
}
.text h3{
    font-size: 20px;
}
.text h1{
    font-size: 40px;
}

.projects{
    transition: 0.5s;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
}
.itens{
    height: 350px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border: solid #7B68EE 1px;
    background-color: #7B68EE;
    border-radius: 2px;
    padding: 30px 0;
    
    
}

.card{
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
    color: #FFF;
    height: 300px;
    background-color: #0000008f;
    width: 20%;
    padding: 5px;
    border-radius: 4px;
    cursor: pointer;
    height: 350px;
    transition: 0.5s;

    /* padding-bottom: 2px; */
    
}
.card:hover{
    scale: 1.3;
    transition: 0.5s;
}
.animationDir{
    transform: translateX(20px);
    animation: slideIn 0.5s ease;
}
.animationEsq{
    transform: translateX(20px);
    animation: slideOut 0.5s ease;
}
.description{
    display: flex;
    flex-direction: column;
    height: 60%;
}
.link{
    text-decoration: none;
    color: #FFF;
    padding: 4px;
    background-color: blueviolet;
    border-radius: 4px;
    justify-self: end;
}
.description h5{
    text-align: center;
    padding: 0;
}
.aboutMe{
    margin-top: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aboutMe h1{
    width: 100%;
    text-align: center;
    
}
.info{
    width: 80%;
    display: flex;
    flex-direction: column;
    border: solid #7B68EE 2px;
    border-top: solid #7B68EE 6px;
    border-bottom: solid #7B68EE 6px;
    border-radius: 20px;
    text-align: justify;
    font-size: 20px;
}
.info p{
    margin-left: 7px;
}
.socialMedia{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.tech{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    text-align: center;
    font-size: 20px;
    align-items: center;
}
.skill{
    width: 80%;
}
footer{
    margin-top: 5%;
    text-align: center;
}
.title{
    color: #7B68EE;
}
.pageProjects{
    background-color: #7c68ee60;
    border: none;
    cursor: pointer;
    transition: 1s;
    border-radius: 10px;
    height: 10%;
    align-self: center;
    display: flex;
    align-items: center;

}
.pageProjects:hover{
    background-color: #F0f0f0;
    transition: 1s;
}
.btnMobile{
    display: none;
}





@media (max-width: 750px){
    .text{
        font-size: 15px;
        width: 50%;
        color: #000;

    }
    .text h3{
        font-size: 10px;
    }
    .text h1{
        font-size: 20px;
    }
    .contentsHeader{
        display: none;
    }
    .menu{
        display: block;
    }
    .contents{
        background: none;
        background-image: url(../img/color.png), linear-gradient(to top, #ffffffd5,  #ffffff00);
        background-position: right;
        background-size: 100%;
        background-repeat: no-repeat;
        
    }
    .projects{
        padding-top: 12%;
        height: 90%;
    }
    .itens{
     height: 150vh ;
     flex-direction: column;
     align-items: center;
     width: 100%;
     justify-content: space-between;
        
    }
    .itens img{
        width: 100%;
    }
    .link{
        align-self: center;
    }
    .card{
        margin-top: 4%;
        flex-direction: column;
        justify-content: space-between;
        padding: 2%;    
        width: 70%;
        height: 25%;
        align-items: center;
        overflow: auto;
        transition: transform 0.5s ease;
    }
    .animationDir{
        animation: slideDown 0.5s ease;
    }
    .animationEsq{
        animation: slideUp 0.5s ease;
    }
    
    .projetoImg{
        width: 50%;
        height: 50%;
        border-radius: 4px;

    }
    .info{
        font-size: 10px;
    }
    .socialIcon{
        width: 60%;
        height: 60%;
    }
    .icons{
        width: 30%;
        height: 30%;
    }
    .tech{
        font-size: 10px;
    }
    .btnMobile{
        display: flex;
    }
    .btnPage{
        display: none;
    }
}
@keyframes slideIn {
    from {
      transform: translateX(0); /* Posição inicial: o item começa sem deslocamento */
    }
    to {
      transform: translateX(700px); /* Posição final: o item desliza 20px para o lado direito */
    }
}
@keyframes slideOut {
    from {
      transform: translateX(0); /* Posição inicial: o item começa sem deslocamento */
    }
    to {
      transform: translateX(-700px); /* Posição final: o item desliza 20px para o lado direito */
    }
}
@keyframes slideUp {
    from {
      transform: translateY(0); /* Posição inicial: o item começa sem deslocamento */
    }
    to {
      transform: translateY(700px); /* Posição final: o item desliza 20px para o lado direito */
    }
}
@keyframes slideDown {
    from {
      transform: translateY(0); /* Posição inicial: o item começa sem deslocamento */
    }
    to {
      transform: translateY(-700px); /* Posição final: o item desliza 20px para o lado direito */
    }
}